<template>
  <div>
     <el-container>
    <Header />
     </el-container>
    <el-container>
    <el-main>
      <el-row>
        <el-col :lg="6" :sm="24" style="margin: 50px auto;">
          <MenuLeft />
        </el-col>
        <el-col :lg="12" :sm="24">
          <Nuxt />
        </el-col>
        <el-col :lg="6" :sm="24">
          <MenuRight />
        </el-col>
      </el-row>
    </el-main>
  </el-container>
  </div>
</template>
<script>
import Header from './header.vue'
import MenuLeft from './menu-left.vue'
import MenuRight from './menu-right.vue'

export default {
  components: {
    Header,
    MenuLeft,
    MenuRight
  }
}
</script>