<template>
    <el-menu class="menu-right" style="text-align: left;">
        <el-menu-item>
            <el-link>Contact</el-link>
            <span style="float: right;"><i class="el-icon-video-camera"></i><i class="el-icon-search"></i></span>
        </el-menu-item>
        <el-menu-item v-for="(value, index) in user_active" :key="index" @click="getUser(value.id, value.name, value.data)">
            <el-badge is-dot class="item">
                <el-avatar icon="el-icon-user-solid"></el-avatar>
            </el-badge>
            <span class="title-span">{{ value.name }}</span>
        </el-menu-item>
         <Chat ref="chat" :showMessage="chatWithUser"  @pushToUSer="pushToUSer"/>
    </el-menu>
</template>

<script>
import Chat from '../pages/common/chat'
export default {
    data() {
        return{
            user_active:[
                {
                    id: 1,
                    name: "sangpt",
                    image: "sang.jpg",
                    data: [
                        {
                            time: "Sep 20, 2020, 9:03 AM",
                            contentA: "hello world !!",
                            contentB: "hi !!",
                        },
                        {
                            time: "Sep 21, 2020, 19:03 AM",
                            contentA: "hi cc ",
                            contentB: "đm",
                        },
                        {
                            time: "Sep 30, 2020, 9:03 AM",
                            contentA: "ok",
                            contentB: "ok cc",
                        },
                    ]
                },
                {
                    id: 2,
                    name: "Van Cuong",
                    image: "sang.jpg",
                    data: [
                        {
                            time: "Sep 20, 2020, 9:03 AM",
                            contentA: "Mình làm quen được k !!",
                            contentB:"cc",
                        },
                        {
                            time: "Sep 21, 2020, 19:03 AM",
                            contentA: "Quen cc",
                            contentB: "Qq",
                        },
                        {
                            time: "Sep 30, 2020, 9:03 AM",
                            contentA: "Never Leave Your IDE in Search of Code!",
                            contentB:"hahahahaha ^^"
                        },
                    ]
                },
                {
                    id: 3,
                    name: "Xuan Toan",
                    image: "sang.jpg",
                     data: [
                        {
                            time: "Sep 20, 2020, 9:03 AM",
                            contentA: "kk k !!",
                            contentB:":))"
                        },
                        {
                            time: "Sep 21, 2020, 19:03 AM",
                            contentA: "ok !!",
                            contentB:"chán vkl"
                        },
                        {
                            time: "Sep 30, 2020, 9:03 AM",
                            contentA: "gg sdasd sdfsdf sdf sdf sdf !!",
                            contentB: "hihi"
                        },
                    ]
                }
            ],
            
            chatWithUser: {
                id: "",
                name: "",
                visible: false,
                data: [
                    {
                        time: "",
                        content: "",
                    }
                ] 
            }
        }
    },
    components: {
        Chat,
    },
    methods: {
        getUser (id, name, data) {
            this.chatWithUser.visible = true;
            this.chatWithUser.id = id;
            this.chatWithUser.name = name;
            this.chatWithUser.data = data;
        },
        pushToUSer(mess) {
            console.log('kkkkk', mess);
        }
    }
}

</script>

<style>
span.title-span{
    padding-left: 10px;
}
.el-badge__content.el-badge__content--undefined.is-fixed.is-dot{
   background-color: #67c23a !important;
}
</style>