<template>
   <div class="menu-left d-none">
        <el-menu style="text-align: left;">
            <el-menu-item>
                <el-avatar :size="50" src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png">
                </el-avatar>
                <span class="title-span">User</span>
            </el-menu-item>
            <el-menu-item>
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/kyCAf2jbZvF.png" alt="page">
                <span class="title-menu-left">Pages</span>
            </el-menu-item>
            <el-menu-item>
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="banbe">
                <span class="title-menu-left">Friends</span>
            </el-menu-item>
            <el-menu-item>
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/SeXJIAlf_z-.png" alt="tinnhan">
                <span class="title-menu-left">Massage</span>
            </el-menu-item>
        </el-menu>
   </div>
</template>