<template>
    <el-card shadow="always">
    <el-row :gutter="20" style="margin-bottom:20px;">
            <el-col :span="2" :xs="4"><el-avatar icon="el-icon-user-solid"></el-avatar> </el-col>
            <el-col :span="22" :xs="20">
                <el-input
                    placeholder="what's your mind ?"
                    v-model="input1">
                </el-input>
            </el-col>
        </el-row>
        <hr>
        <el-row :gutter="20" class="row-posts" style="margin-bottom:20px;">
            <el-col :span="8">
                <i class="el-icon-video-camera-solid"></i>
                <span class="title">Live Video</span>
            </el-col>
            <el-col :span="8">
                <el-upload
                  class="upload-demo"
                  action="https://jsonplaceholder.typicode.com/posts/"
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  :file-list="fileList"
                  list-type="picture">
                    <i class="el-icon-picture"></i>
                    <span class="title">Photo/Video</span>
                </el-upload>
            </el-col>
            <el-col :span="8">
                <i class="el-icon-potato-strips"></i>
                <span class="title">Feeling/Activity</span>
            </el-col>
        </el-row>
  </el-card>
</template>
<script>
  export default {
    data() {
      return {
        dialogImageUrl: '',
        dialogVisible: false,
        disabled: false
      };
    },
    methods: {
    
    }
  }
</script>
<style>
hr{
    border: 1px solid #80808021;
}
.el-main{
    line-height: 10px;
}
.row-posts i{
    color: #f56c6c;
    font-size: 29px;
    padding-top: 10px;
    transform: translateY(6px);
    cursor: pointer;
}
.row-posts i.el-icon-picture{
    color: #1DAB8C;
}
.row-posts i.el-icon-potato-strips{
    color:sandybrown;
}
.row-posts span.title{
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.row-posts span.title:hover{
    color: black;
}
</style>