<template>
<el-container>
  <el-row>
    <el-col :sm="24">
      <Story />
      <CreatePost />
      <ListPost />
    </el-col>
  </el-row>
</el-container>
</template>
<script>
import Story from './story.vue';
import CreatePost from './create_post.vue';
import ListPost from './list_post.vue';
export default {
    data() {
    return {
        visible: true,
    };
  },
  components: {
    Story,
    CreatePost,
    ListPost,
  },
}
</script>