<template>
  <div class="infinite-list-wrapper" style="overflow:auto">
    <div shadow="always"
      class="list"
      v-infinite-scroll="load"
      infinite-scroll-disabled="disabled">
        <el-card :span="24" v-for="(i,index) in data" :key="index" class="list-item">
            <el-row>
                <el-col :span="2">
                    <el-avatar icon="el-icon-user-solid"></el-avatar>
                </el-col>
                <el-col :span="1">
                    <h5>Sangpt</h5>
                </el-col>
            </el-row>
            <el-row>
                <div class="demo-image__placeholder">
                    <div class="block">
                            <p class="demonstration" style="text-align:left;line-height: 23px; font-family: monospace;">
                            {{ i.description }}
                        </p>
                        <el-image :src="i.images"></el-image>
                    </div>
                </div>
            </el-row>
            <el-row style="margin-top:10px;">
                <el-col :span="2">
                    <el-button type="primary" icon="el-icon-thumb" circle></el-button>
                    <h5>{{ i.number_like }} Like</h5>
                </el-col>
                <el-col :span="20">
                    <el-button type="info" icon="el-icon-message" circle></el-button>
                    <h5>{{ i.number_comment }} Comment</h5>
                </el-col>
                <el-col :span="2">
                     <el-button type="warning" icon="el-icon-share" circle></el-button>
                     <h5>{{ i.number_share }} Share</h5>
                </el-col>
            </el-row>
        </el-card>
    </div>
    <p v-if="loading">Loading...</p>
    <p v-if="noMore">No more</p>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        data: [
            {
                user_name: "Sangpt",
                description: "Never Leave Your IDE in Search of Code! Improve the speed you write code, discover new code snippets, and create better software Available for all (well, most) languages and IDEs",
                images: " https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg",
                number_like: 6049,
                number_comment:3582,
                number_share:1723
            },
             {
                user_name: "Sangpt",
                description: "Never Leave Your IDE in Search of Code! Improve the speed you write code, discover new code snippets, and create better software Available for all (well, most) languages and IDEs",
                images: "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
                number_like: 49,
                number_comment:382,
                number_share:123
            },
            {
                user_name: "Van Cuong",
                description: "IDEs",
                images: "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
                number_like: 9,
                number_comment:3582,
                number_share:123
            },
            {
                user_name: "Sangpt",
                description: "languages and IDEs",
                images: "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg",
                number_like: 1049,
                number_comment:82,
                number_share:13
            },
            {
                user_name: "Tuan Vu",
                description: "Improve the speed you write code, discover new code snippets, and create better software Available for all (well, most) languages and IDEs",
                images: "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg",
                number_like: 1209,
                number_comment:82,
                number_share:3
            },
            {
                user_name: "Doremon",
                description: "Never Leave Your IDE in Search of Code!",
                images: "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg",
                number_like: 149,
                number_comment:2,
                number_share:123
            },
              {
                user_name: "NaCha",
                description: "discover new code snippets, and create better software Available for all (well, most) languages and IDEs",
                images: "https://fuss10.elemecdn.com/2/11/6535bcfb26e4c79b48ddde44f4b6fjpeg.jpeg",
                number_like: 19,
                number_comment:32,
                number_share:12
            }    
        ],
        count: 10,
        loading: false,
      }
    },
    computed: {
      noMore () {
        return this.count >= 20
      },
      disabled () {
        return this.loading || this.noMore
      }
    },
    methods: {
      load () {
        this.loading = true
        setTimeout(() => {
          this.count += 2
          this.loading = false
        }, 2000)
      }
    }
  }
</script>
<style>
.list-item{
    margin: 5px 0;
}
.el-image{
    height: auto;
    width: 100%;
}
</style>