<template>
<div>
  <el-dialog
    title="NEWS"
    :visible.sync="centerDialogVisible"
    width="50%"
    center>
    <el-carousel :interval="4000" type="card">
    <el-carousel-item v-for="item in story" :key="item">
        <el-image :src="item.image_url"></el-image>
        <h3 class="title">{{ item.user_name }}</h3>
        <p class="description">{{ item.description }}</p>
    </el-carousel-item>
    </el-carousel>
  </el-dialog>
</div>
</template>
<script>
export default {
  data() {
    return {
      story: [
        {
        "user_name": "SangPham",
        "image_url": "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
        "description": "Giải cứu cá mập bị dây nhựa cứa cổ"
        },
        {
        "user_name": "Van Cuong",
        "image_url": "https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg",
        "description": "Phát hiện 'siêu năng lực' mới của gấu nước"
        },
        {
        "user_name": "Xuan Toan",
        "image_url": "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
        "description": "Báo săn ngoạm trúng cổ linh dương hoẵng nhưng phải mất vài phút giằng co mới kết liễu được con mồi."
        },
        {
        "user_name": "Ha Nam",
        "image_url": "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg"
        },
        {
        "user_name": "Tuan Vu",
        "image_url": "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg"
        },
        {
        "user_name": "Dinh Tien",
        "image_url": "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg"
        },
        {
        "user_name": "SangPham",
        "image_url": "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
        "description": "Giải cứu cá mập bị dây nhựa cứa cổ"
        },
        {
        "user_name": "Van Cuong",
        "image_url": "https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg",
        "description": "Phát hiện 'siêu năng lực' mới của gấu nước"
        },
        {
        "user_name": "Xuan Toan",
        "image_url": "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
        "description": "Báo săn ngoạm trúng cổ linh dương hoẵng nhưng phải mất vài phút giằng co mới kết liễu được con mồi."
        },
        {
        "user_name": "Ha Nam",
        "image_url": "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg"
        },
        {
        "user_name": "Tuan Vu",
        "image_url": "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg"
        },
        {
        "user_name": "Dinh Tien",
        "image_url": "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg"
        }
      ],
    }
  },
   props: {
        centerDialogVisible: false
    },
   methods: {

    }
}
</script>
<style>
.el-carousel__indicator--horizontal{
  display :none;
}
.el-image{
  height:100% !important;
}
h3.title{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
p.description{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 25px;
}
</style>