<template>
<div class="d-none" style="margin-top:50px;">
  <el-row>
  <el-col  class="story" :lg="4" v-for="(value, index) in story" :key="index">
    <el-image @click="centerDialogVisible = true" style="height:150px !important;" :src="value.image_url"></el-image>
     <h3 @click="centerDialogVisible = true">{{ value.user_name }}</h3>
     <i v-if="index == '0'" class="el-icon-circle-plus-outline" style="font-size:50px;"></i>
  </el-col>
  <el-col :lg="20">
    <StoryDetail :centerDialogVisible="centerDialogVisible" />
  </el-col>
  </el-row>
</div>
</template>
<script>
import StoryDetail from './story_detail.vue';
export default {
  data() {
    return {
      centerDialogVisible: false,
      story: [
        {
        "user_name": "Create a story",
        "image_url": "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg"
        },
        {
        "user_name": "Van Cuong",
        "image_url": "https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg"
        },
        {
        "user_name": "Xuan Toan",
        "image_url": "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg"
        },
        {
        "user_name": "Ha Nam",
        "image_url": "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg"
        },
        {
        "user_name": "Tuan Vu",
        "image_url": "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg"
        },
        {
        "user_name": "Dinh Tien",
        "image_url": "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg"
        },
        
      ],
    }
  },
   components: {
      StoryDetail
    },
   methods: {

    }
}
</script>