// Image and text
nav.navbar.navbar-light.bg-light
  a.navbar-brand(href='#')
    img.d-inline-block.align-top(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg' width='30' height='30' alt='')
    |     Chat