<template>
    <el-popover placement="bottom" width="300" trigger="click">
        <el-row>
            <h3>Message</h3>
        </el-row>
        <el-row>
            <el-card shadow="always">
                <el-col :sm="6">
                    <el-badge is-dot class="item">
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                    </el-badge>
                </el-col>
                <el-col :sm="16" class="infinite-list-item">
                    <h3>SangPham</h3>
                    <p>Hihi Chào Cậu !!!</p>
                </el-col>
                <el-col :sm="2">
                    <i class="el-icon-circle-check"></i>
                </el-col>
            </el-card>
            <el-card shadow="always">
                <el-col :sm="6">
                    <el-badge is-dot class="item">
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                    </el-badge>
                </el-col>
                <el-col :sm="16" class="infinite-list-item">
                    <h3>SangPham</h3>
                    <p>Hihi Chào Cậu !!!</p>
                </el-col>
                <el-col :sm="2">
                    <i class="el-icon-circle-check"></i>
                </el-col>
            </el-card>
            <el-card shadow="always">
                <el-col :sm="6">
                    <el-badge is-dot class="item">
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                    </el-badge>
                </el-col>
                <el-col :sm="16" class="infinite-list-item">
                    <h3>SangPham</h3>
                    <p>Hihi sdasd !!!</p>
                </el-col>
                <el-col :sm="2">
                    <i class="el-icon-circle-check"></i>
                </el-col>
            </el-card>
            <el-card shadow="always">
               <NuxtLink to="/message">Xem tất cả </NuxtLink>
            </el-card>
            
        </el-row>
            <el-badge :value="1" class="item" slot="reference"> 
                    <i class="el-icon-chat-line-round"></i> 
            </el-badge>
    </el-popover>
</template>
<style>
.el-badge__content.is-fixed{
    top:37px !important;
}
.el-card{
    cursor: pointer;
}
/* .el-card:hover{
    background:aliceblue;
} */
</style>
